# Android Studio
.idea/
*.iml

# Gradle
.gradle/
**/.gradle/

# Kotlin
.kotlin/

# Android build
**/build/

# Local Android configuration
local.properties
**/local.properties

# Native build
.externalNativeBuild/
.cxx/

# OS files
.DS_Store